* {
  margin: 0 auto;
  box-sizing: border-box;
  /* overflow: hidden;   */
}

.date_nav {
  margin: 1rem 1rem;
}

.form {
  display: flex;
}

.date_field__slyle {
  width: 300px;
  padding: 0.3rem;
  border: 1px solid rgb(203, 203, 203);
  border-radius: 5px;
  outline: none;
  margin-right: 10px;
}

.left-side {
  justify-content: flex-start;
  margin: 0;
}

.right-side {
  justify-content: flex-end;
  margin: 0;
  margin-left: 1rem;
}

.date_btn__mrgn {
  margin: 0;
  margin-left: 30%;
}

.date_btn__mrgn0 {
  margin: 0;
}

.date_btn {
  border: none;
  outline: none;
  cursor: pointer;
  border-start-start-radius: 10px;
  padding: 0 1.5rem;
  color: white;
  font-size: 14px;
  font-weight: 700;
}

.date_btn__reset {
  background-color: brown;
}

.date_btn__search {
  background-color: rgb(154, 154, 0);
}

.switch_month {
  display: flex;
  font-size: 2rem;
  font-weight: bold;
}

.curs {
  cursor: pointer;
}

.cal_header {
  display: flex;
}

.day_of_week {
  position: relative;
  height: 40px;
  width: 14.28%;
  margin: 0;
  font-weight: bold;
  color: rgb(97, 97, 97);
  text-align: center;
  padding-top: 10px;
  background-color: rgb(87, 87, 255, 0.2);
}

.cal_body {
  display: flex;
  flex-wrap: wrap;
}

.days {
  height: 80px;
  width: 14.28%;
  border: 1px solid gray;
  margin: 0;
}

.not_this_month {
  color: grey;
}
